* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

i {
  font-size: 18px;
}

button {
  cursor: pointer;
  max-width: 100%;
  background-color: transparent;
  border: none;
}

.side_navbar {
  /*Strictly Necessary */
  position: fixed;
  height: 100%;
  width: 10%;
  padding-top: 1rem;
}

.side_navbar button {
  margin: 1rem;
  padding: 0.5rem;
  width: 50%;
}

.rightSideWrapper {
  width: 90%;
  float: right;
}

header {
  position: fixed;
  width: 90%;
  height: 100px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}

.youtube_logo {
  margin-right: 50px;
}

.youtube_logo img {
  max-width: 100%;

  height: auto;
  width: 7rem;
}

.search_bar {
  display: inline-block;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.222);

  max-width: 70%;
  width: 400px;
  height: 40px;
}

.search_bar input {
  width: 255px;
  border: none;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search_icon {
  font-size: 15px;
}

#mic_icon {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: rgb(204, 204, 204);
  border-radius: 1rem;
}

.right_icons button {
  margin: 15px;
}

.contentBox {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(204, 204, 204);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 20px;
  margin: 20px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}
