* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

i {
  font-size: 18px;
}

button {
  cursor: pointer;
  max-width: 100%;
  background-color: transparent;
  border: none;
}

.side_navbar {
  position: fixed;
  height: 100%;
  width: 5%;
}

.side_navbar button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}

.side_navbar button p {
  margin-top: 0.5rem;
  font-size: x-small;
}

.rightSideWrapper {
  width: 95%;
  float: right;
  scrollbar-width: 10px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;

  margin-top: -0.4rem;
}

.upperHeader {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}

.youtube_logo {
  margin-right: 50px;
}

.youtube_logo img {
  max-width: 100%;

  height: auto;
  width: 7rem;
}

.search_bar {
  display: inline-block;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 2rem;

  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);

  width: 580px;
  height: 42px;
}

.search_bar input {
  background: transparent;
  padding: 0.8rem;
  width: 525px;
  border: none;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search_icon {
  font-size: 15px;
}

#mic_icon {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #dbdbdb;
  border-radius: 2rem;
}

.right_icons {
  margin-right: 80px;
}

.right_icons button {
  margin: 15px;
}

.contentBox {
  margin-top: 150px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.details {
  display: grid;
  grid-template-columns: 10% 90%;
}

.thumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.recommended {
  margin-left: 0.5rem;
}

.recommended button {
  width: auto;

  background-color: #dbdbdb;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.recommended button:hover {
  transition: ease-in-out 0.3s;
  background-color: #000;
  color: white;
}
