/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

i {
  font-size: 18px;
}

button {
  cursor: pointer;
  max-width: 100%;
  background-color: transparent;
  border: none;
}

/* Sidebar */
.side_navbar {
  position: fixed;
  height: 100%;
  width: 80px;
}

.side_navbar i {
  color: #000;
}

.side_navbar button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}

.side_navbar button p {
  margin-top: 0.5rem;
  font-size: x-small;
}

/* Right Side Wrapper */
.rightSideWrapper {
  width: calc(100% - 80px);
  float: right;
  scrollbar-width: 10px;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  margin-top: -0.4rem;
}

.upperHeader {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}

.youtube_logo img {
  max-width: 100%;
  height: auto;
  width: 7rem;
}

.search_bar {
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2rem;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  width: 580px;
  height: 42px;
}

.search_bar input {
  background: transparent;
  padding: 0.7rem;
  width: 525px;
  border: none;
  margin-left: 10px;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

#search_icon {
  font-size: 15px;
}

#mic_icon {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #dbdbdb;
  border-radius: 2rem;
}

.right_icons {
  margin-right: 80px;
}

.right_icons button {
  margin: 15px;
}

.contentBox {
  margin-top: 150px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.details {
  display: grid;
  grid-template-columns: 14% 86%;
}

.details h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.details a {
  font-size: 13px;
  text-decoration: none;
  color: #4b4b4b;
}

.details p {
  font-size: 13px;
  font-weight: 500;
  color: #4b4b4b;
}

.details button {
  background: #ff929245;
  padding: 0.6rem;
  border-radius: 5rem;
}

.thumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.recommended {
  margin-left: 0.5rem;
  color: #000;
}

.recommended button {
  width: auto;
  background-color: #dbdbdb;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.recommended button:hover {
  transition: ease-in-out 0.3s;
  background-color: #000;
  color: white;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .search_bar {
    width: 450px;
  }

  .search_bar input {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .right_icons {
    margin-right: 100px;
  }

  .search_bar {
    width: 150px;
  }

  .search_bar input {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .side_navbar {
    width: 70px;
  }

  .side_navbar i {
    color: #000;
  }
  .rightSideWrapper {
    width: calc(100% - 70px);
  }

  .right_icons {
    margin-right: 60px;
  }

  .search_bar {
    width: 93px;
  }

  .search_bar input {
    width: 50px;
  }
}

@media (max-width: 450px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .side_navbar {
    width: 70px;
  }

  .side_navbar i {
    color: #000;
  }

  .rightSideWrapper {
    width: calc(100% - 70px);
  }

  .right_icons {
    display: none;
  }

  .search_bar {
    margin-left: -60px;
    width: 120px;
  }

  .search_bar input {
    width: 70px;
  }
}
